In [4]:
import matplotlib as mt
import json as js

with open("chronic.json", "r")  as json_file:
    json_data = js.load(json_file)

In [17]:
type(json_data)

dict

In [6]:
json_data["meta"]["view"].keys()

dict_keys(['publicationStage', 'hideFromDataJson', 'averageRating', 'newBackend', 'viewType', 'grants', 'totalTimesRated', 'license', 'createdAt', 'description', 'tableAuthor', 'licenseId', 'publicationAppendEnabled', 'publicationGroup', 'name', 'rights', 'provenance', 'hideFromCatalog', 'metadata', 'flags', 'rowsUpdatedAt', 'publicationDate', 'downloadCount', 'attribution', 'tags', 'displayType', 'rowsUpdatedBy', 'columns', 'tableId', 'category', 'numberOfComments', 'indexUpdatedAt', 'id', 'query', 'viewCount', 'attributionLink', 'owner', 'viewLastModified', 'oid'])

In [7]:
colsli = json_data["meta"]["view"]["columns"]
d = json_data["data"]  
hdrs = []

In [8]:
for c in colsli:
    hdrs.append(c["fieldName"])

In [9]:
import pandas as pd
import matplotlib.pyplot as plt

In [10]:
df = pd.DataFrame(d,  columns=hdrs)

In [11]:
df.shape

(403984, 42)

In [12]:
df.columns

Index([':sid', ':id', ':position', ':created_at', ':created_meta',
       ':updated_at', ':updated_meta', ':meta', 'yearstart', 'yearend',
       'locationabbr', 'locationdesc', 'datasource', 'topic', 'question',
       'response', 'datavalueunit', 'datavaluetype', 'datavalue',
       'datavaluealt', 'datavaluefootnotesymbol', 'datavaluefootnote',
       'lowconfidencelimit', 'highconfidencelimit', 'stratificationcategory1',
       'stratification1', 'stratificationcategory2', 'stratification2',
       'stratificationcategory3', 'stratification3', 'geolocation',
       'responseid', 'locationid', 'topicid', 'questionid', 'datavaluetypeid',
       'stratificationcategoryid1', 'stratificationid1',
       'stratificationcategoryid2', 'stratificationid2',
       'stratificationcategoryid3', 'stratificationid3'],
      dtype='object')

In [13]:
df.head()

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>:sid</th>
      <th>:id</th>
      <th>:position</th>
      <th>:created_at</th>
      <th>:created_meta</th>
      <th>:updated_at</th>
      <th>:updated_meta</th>
      <th>:meta</th>
      <th>yearstart</th>
      <th>yearend</th>
      <th>...</th>
      <th>locationid</th>
      <th>topicid</th>
      <th>questionid</th>
      <th>datavaluetypeid</th>
      <th>stratificationcategoryid1</th>
      <th>stratificationid1</th>
      <th>stratificationcategoryid2</th>
      <th>stratificationid2</th>
      <th>stratificationcategoryid3</th>
      <th>stratificationid3</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>1</td>
      <td>19694115-AF6A-4DCC-9532-C3C48B50ECF9</td>
      <td>1</td>
      <td>1497286879</td>
      <td>959778</td>
      <td>1497286879</td>
      <td>959778</td>
      <td>None</td>
      <td>2015</td>
      <td>2015</td>
      <td>...</td>
      <td>02</td>
      <td>ALC</td>
      <td>ALC1_1</td>
      <td>CrdPrev</td>
      <td>OVERALL</td>
      <td>OVR</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
    </tr>
    <tr>
      <th>1</th>
      <td>2</td>
      <td>FF23A04D-36C8-4374-BEA6-FF69EE19C9AF</td>
      <td>2</td>
      <td>1497286879</td>
      <td>959778</td>
      <td>1497286879</td>
      <td>959778</td>
      <td>None</td>
      <td>2015</td>
      <td>2015</td>
      <td>...</td>
      <td>01</td>
      <td>ALC</td>
      <td>ALC1_1</td>
      <td>CrdPrev</td>
      <td>OVERALL</td>
      <td>OVR</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
    </tr>
    <tr>
      <th>2</th>
      <td>3</td>
      <td>76BEDC4B-F894-4025-8235-4C3408B8F6BF</td>
      <td>3</td>
      <td>1497286879</td>
      <td>959778</td>
      <td>1497286879</td>
      <td>959778</td>
      <td>None</td>
      <td>2015</td>
      <td>2015</td>
      <td>...</td>
      <td>05</td>
      <td>ALC</td>
      <td>ALC1_1</td>
      <td>CrdPrev</td>
      <td>OVERALL</td>
      <td>OVR</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
    </tr>
    <tr>
      <th>3</th>
      <td>4</td>
      <td>DEFB53DF-9363-44DC-BE1C-982CF822FF3F</td>
      <td>4</td>
      <td>1497286879</td>
      <td>959778</td>
      <td>1497286879</td>
      <td>959778</td>
      <td>None</td>
      <td>2015</td>
      <td>2015</td>
      <td>...</td>
      <td>04</td>
      <td>ALC</td>
      <td>ALC1_1</td>
      <td>CrdPrev</td>
      <td>OVERALL</td>
      <td>OVR</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
    </tr>
    <tr>
      <th>4</th>
      <td>5</td>
      <td>C6796F88-43DD-46B5-B228-63F81E32D9A9</td>
      <td>5</td>
      <td>1497286879</td>
      <td>959778</td>
      <td>1497286879</td>
      <td>959778</td>
      <td>None</td>
      <td>2015</td>
      <td>2015</td>
      <td>...</td>
      <td>06</td>
      <td>ALC</td>
      <td>ALC1_1</td>
      <td>CrdPrev</td>
      <td>OVERALL</td>
      <td>OVR</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
    </tr>
  </tbody>
</table>
<p>5 rows Ã— 42 columns</p>
</div>

In [14]:
#All rows  , from sid to created at
# df.loc[0:, ":sid":":created_at"]

#10 rows, from :sid to end
#df.loc[:10, ":sid":] 

#10 rows, just location
#df.loc[:10, "locationdesc"]

df.loc[:10]

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>:sid</th>
      <th>:id</th>
      <th>:position</th>
      <th>:created_at</th>
      <th>:created_meta</th>
      <th>:updated_at</th>
      <th>:updated_meta</th>
      <th>:meta</th>
      <th>yearstart</th>
      <th>yearend</th>
      <th>...</th>
      <th>locationid</th>
      <th>topicid</th>
      <th>questionid</th>
      <th>datavaluetypeid</th>
      <th>stratificationcategoryid1</th>
      <th>stratificationid1</th>
      <th>stratificationcategoryid2</th>
      <th>stratificationid2</th>
      <th>stratificationcategoryid3</th>
      <th>stratificationid3</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>1</td>
      <td>19694115-AF6A-4DCC-9532-C3C48B50ECF9</td>
      <td>1</td>
      <td>1497286879</td>
      <td>959778</td>
      <td>1497286879</td>
      <td>959778</td>
      <td>None</td>
      <td>2015</td>
      <td>2015</td>
      <td>...</td>
      <td>02</td>
      <td>ALC</td>
      <td>ALC1_1</td>
      <td>CrdPrev</td>
      <td>OVERALL</td>
      <td>OVR</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
    </tr>
    <tr>
      <th>1</th>
      <td>2</td>
      <td>FF23A04D-36C8-4374-BEA6-FF69EE19C9AF</td>
      <td>2</td>
      <td>1497286879</td>
      <td>959778</td>
      <td>1497286879</td>
      <td>959778</td>
      <td>None</td>
      <td>2015</td>
      <td>2015</td>
      <td>...</td>
      <td>01</td>
      <td>ALC</td>
      <td>ALC1_1</td>
      <td>CrdPrev</td>
      <td>OVERALL</td>
      <td>OVR</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
    </tr>
    <tr>
      <th>2</th>
      <td>3</td>
      <td>76BEDC4B-F894-4025-8235-4C3408B8F6BF</td>
      <td>3</td>
      <td>1497286879</td>
      <td>959778</td>
      <td>1497286879</td>
      <td>959778</td>
      <td>None</td>
      <td>2015</td>
      <td>2015</td>
      <td>...</td>
      <td>05</td>
      <td>ALC</td>
      <td>ALC1_1</td>
      <td>CrdPrev</td>
      <td>OVERALL</td>
      <td>OVR</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
    </tr>
    <tr>
      <th>3</th>
      <td>4</td>
      <td>DEFB53DF-9363-44DC-BE1C-982CF822FF3F</td>
      <td>4</td>
      <td>1497286879</td>
      <td>959778</td>
      <td>1497286879</td>
      <td>959778</td>
      <td>None</td>
      <td>2015</td>
      <td>2015</td>
      <td>...</td>
      <td>04</td>
      <td>ALC</td>
      <td>ALC1_1</td>
      <td>CrdPrev</td>
      <td>OVERALL</td>
      <td>OVR</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
    </tr>
    <tr>
      <th>4</th>
      <td>5</td>
      <td>C6796F88-43DD-46B5-B228-63F81E32D9A9</td>
      <td>5</td>
      <td>1497286879</td>
      <td>959778</td>
      <td>1497286879</td>
      <td>959778</td>
      <td>None</td>
      <td>2015</td>
      <td>2015</td>
      <td>...</td>
      <td>06</td>
      <td>ALC</td>
      <td>ALC1_1</td>
      <td>CrdPrev</td>
      <td>OVERALL</td>
      <td>OVR</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
    </tr>
    <tr>
      <th>5</th>
      <td>6</td>
      <td>5E8D0145-65A5-44D7-B9D7-728577185C14</td>
      <td>6</td>
      <td>1497286879</td>
      <td>959778</td>
      <td>1497286879</td>
      <td>959778</td>
      <td>None</td>
      <td>2015</td>
      <td>2015</td>
      <td>...</td>
      <td>08</td>
      <td>ALC</td>
      <td>ALC1_1</td>
      <td>CrdPrev</td>
      <td>OVERALL</td>
      <td>OVR</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
    </tr>
    <tr>
      <th>6</th>
      <td>7</td>
      <td>9C73946F-8CB7-4A81-8FC7-367767F7E723</td>
      <td>7</td>
      <td>1497286879</td>
      <td>959778</td>
      <td>1497286879</td>
      <td>959778</td>
      <td>None</td>
      <td>2015</td>
      <td>2015</td>
      <td>...</td>
      <td>09</td>
      <td>ALC</td>
      <td>ALC1_1</td>
      <td>CrdPrev</td>
      <td>OVERALL</td>
      <td>OVR</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
    </tr>
    <tr>
      <th>7</th>
      <td>8</td>
      <td>31547CF0-48AE-41DB-A665-0387CD158761</td>
      <td>8</td>
      <td>1497286879</td>
      <td>959778</td>
      <td>1497286879</td>
      <td>959778</td>
      <td>None</td>
      <td>2015</td>
      <td>2015</td>
      <td>...</td>
      <td>11</td>
      <td>ALC</td>
      <td>ALC1_1</td>
      <td>CrdPrev</td>
      <td>OVERALL</td>
      <td>OVR</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
    </tr>
    <tr>
      <th>8</th>
      <td>9</td>
      <td>13957622-4175-49AB-BCB5-7A4EC913CA84</td>
      <td>9</td>
      <td>1497286879</td>
      <td>959778</td>
      <td>1497286879</td>
      <td>959778</td>
      <td>None</td>
      <td>2015</td>
      <td>2015</td>
      <td>...</td>
      <td>12</td>
      <td>ALC</td>
      <td>ALC1_1</td>
      <td>CrdPrev</td>
      <td>OVERALL</td>
      <td>OVR</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
    </tr>
    <tr>
      <th>9</th>
      <td>10</td>
      <td>B0E575E4-C002-4CAC-9C02-B2B7882058CD</td>
      <td>10</td>
      <td>1497286879</td>
      <td>959778</td>
      <td>1497286879</td>
      <td>959778</td>
      <td>None</td>
      <td>2015</td>
      <td>2015</td>
      <td>...</td>
      <td>13</td>
      <td>ALC</td>
      <td>ALC1_1</td>
      <td>CrdPrev</td>
      <td>OVERALL</td>
      <td>OVR</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
    </tr>
    <tr>
      <th>10</th>
      <td>11</td>
      <td>96704D83-0655-484B-98AD-4C707C26500C</td>
      <td>11</td>
      <td>1497286879</td>
      <td>959778</td>
      <td>1497286879</td>
      <td>959778</td>
      <td>None</td>
      <td>2015</td>
      <td>2015</td>
      <td>...</td>
      <td>66</td>
      <td>ALC</td>
      <td>ALC1_1</td>
      <td>CrdPrev</td>
      <td>OVERALL</td>
      <td>OVR</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
    </tr>
  </tbody>
</table>
<p>11 rows Ã— 42 columns</p>
</div>

In [15]:
#get descriptive summaries
#s = df['locationdesc']
#s.describe()
df['locationdesc'].describe()

count       403984
unique          55
top       Nebraska
freq          7779
Name: locationdesc, dtype: object

In [16]:
s.value_counts()

NameError: name 's' is not defined