In [9]:
#from the CL, first
#pip install  xlrd

import pandas as pd

In [10]:
%ls sampledata

August2017PD.xls  Groceries062014to022015.csv*  PRIOwartime_deaths.xls

In [7]:
help(pd.ExcelFile)

Help on class ExcelFile in module pandas.io.excel:

class ExcelFile(__builtin__.object)
 |  Class for parsing tabular excel sheets into DataFrame objects.
 |  Uses xlrd. See read_excel for more documentation
 |
 |  Parameters
 |  ----------
 |  io : string, path object (pathlib.Path or py._path.local.LocalPath),
 |      file-like object or xlrd workbook
 |      If a string or path object, expected to be a path to xls or xlsx file
 |  engine: string, default None
 |      If io is not a buffer or path, this must be set to identify io.
 |      Acceptable values are None or xlrd
 |
 |  Methods defined here:
 |
 |  __enter__(self)
 |
 |  __exit__(self, exc_type, exc_value, traceback)
 |
 |  __init__(self, io, **kwds)
 |
 |  close(self)
 |      close io if necessary
 |
 |  parse(self, sheetname=0, header=0, skiprows=None, skip_footer=0, names=None, index_col=None, parse_cols=None, parse_dates=False, date_parser=None, na_values=None, thousands=None, convert_float=True, has_index_names=None, converters=None, true_values=None, false_values=None, squeeze=False, **kwds)
 |      Parse specified sheet(s) into a DataFrame
 |
 |      Equivalent to read_excel(ExcelFile, ...)  See the read_excel
 |      docstring for more info on accepted parameters
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  __dict__
 |      dictionary for instance variables (if defined)
 |
 |  __weakref__
 |      list of weak references to the object (if defined)
 |
 |  sheet_names

In [11]:
f = pd.ExcelFile("sampledata/PRIOwartime_deaths.xls")

In [12]:
print(f.sheet_names)

[u'bdonly']

In [13]:
f.parse("bdonly")

,id,year,bdeadlow,bdeadhig,bdeadbes,annualdata,source,bdversion,location,sidea,...,epend,ependdate,ependprec,gwnoa,gwnoa2nd,gwnob,gwnob2nd,gwnoloc,region,version
0,1,1946,1000,9999,1000,2,1,3,Bolivia,Bolivia,...,1,1946-07-21,-99.0,145,NaN,NaN,NaN,145,5,2009-4
1,1,1952,450,3000,-999,2,1,3,Bolivia,Bolivia,...,1,1952-04-12,-99.0,145,NaN,NaN,NaN,145,5,2009-4
2,1,1967,25,999,82,2,1,3,Bolivia,Bolivia,...,1,1967-10-16,-99.0,145,NaN,NaN,NaN,145,5,2009-4
3,2,1946,25,999,-999,0,0,3,Cambodia,France,...,0,NaT,NaN,220,NaN,NaN,NaN,811,3,2009-4
4,2,1947,25,999,-999,0,0,3,Cambodia,France,...,0,NaT,NaN,220,NaN,NaN,NaN,811,3,2009-4
5,2,1948,25,999,-999,0,0,3,Cambodia,France,...,0,NaT,NaN,220,NaN,NaN,NaN,811,3,2009-4
6,2,1949,25,999,-999,0,0,3,Cambodia,France,...,0,NaT,NaN,220,NaN,NaN,NaN,811,3,2009-4
7,2,1950,25,999,-999,0,0,3,Cambodia,France,...,0,NaT,NaN,220,NaN,NaN,NaN,811,3,2009-4
8,2,1951,25,999,-999,0,0,3,Cambodia,France,...,0,NaT,NaN,220,NaN,NaN,NaN,811,3,2009-4
9,2,1952,25,999,-999,0,0,3,Cambodia,France,...,0,NaT,NaN,220,NaN,NaN,NaN,811,3,2009-4
10,2,1953,25,999,-999,0,0,3,Cambodia,France,...,1,1953-12-31,-99.0,220,NaN,NaN,NaN,811,3,2009-4
11,3,1946,16666,333333,200000,1,1,3,China,China,...,0,NaT,NaN,710,NaN,NaN,NaN,710,3,2009-4
12,3,1947,25000,500000,300000,1,1,3,China,China,...,0,NaT,NaN,710,NaN,NaN,NaN,710,3,2009-4
13,3,1948,29167,583333,350000,1,1,3,China,China,...,0,NaT,NaN,710,NaN,NaN,NaN,710,3,2009-4
14,3,1949,29167,583334,350000,1,1,3,China,China,...,1,1949-10-01,-99.0,710,NaN,NaN,NaN,710,3,2009-4
15,4,1946,6000,40000,38500,0,1,3,Greece,Greece,...,0,NaT,NaN,350,NaN,NaN,NaN,350,1,2009-4
16,4,1947,6000,40000,38500,0,1,3,Greece,Greece,...,0,NaT,NaN,350,NaN,NaN,NaN,350,1,2009-4
17,4,1948,6000,40000,38500,0,1,3,Greece,Greece,...,0,NaT,NaN,350,NaN,NaN,NaN,350,1,2009-4
18,4,1949,6000,40000,38500,0,1,3,Greece,Greece,...,1,1949-10-16,-99.0,350,NaN,NaN,NaN,350,1,2009-4
19,5,1946,655,5000,-999,2,1,3,Indonesia,Netherlands,...,0,NaT,NaN,210,NaN,NaN,NaN,850,3,2009-4
20,5,1947,74,5000,-999,2,1,3,Indonesia,Netherlands,...,0,NaT,NaN,210,NaN,NaN,NaN,850,3,2009-4
21,5,1948,150,2150,-999,0,1,3,Indonesia,Netherlands,...,0,NaT,NaN,210,NaN,NaN,NaN,850,3,2009-4
22,5,1949,150,2150,-999,0,1,3,Indonesia,Netherlands,...,1,1949-06-30,-99.0,210,NaN,NaN,NaN,850,3,2009-4
23,6,1946,0,1000,25,2,1,3,Iran,Iran,...,1,1946-12-16,-99.0,630,NaN,NaN,365,630,2,2009-4
24,6,1966,25,999,-999,0,0,3,Iran,Iran,...,0,NaT,NaN,630,NaN,NaN,NaN,630,2,2009-4
25,6,1967,25,999,-999,0,0,3,Iran,Iran,...,0,NaT,NaN,630,NaN,NaN,NaN,630,2,2009-4
26,6,1968,25,999,-999,0,0,3,Iran,Iran,...,1,1968-12-31,-99.0,630,NaN,NaN,NaN,630,2,2009-4
27,6,1979,200,1000,-999,2,1,3,Iran,Iran,...,0,NaT,NaN,630,NaN,NaN,NaN,630,2,2009-4
28,6,1980,1000,4000,1000,2,1,3,Iran,Iran,...,0,NaT,NaN,630,NaN,NaN,NaN,630,2,2009-4
29,6,1981,25,999,-999,0,0,3,Iran,Iran,...,0,NaT,NaN,630,NaN,NaN,NaN,630,2,2009-4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1927,250,2004,72,1200,72,2,1,3,Nigeria,Nigeria,...,1,2004-09-29,-99.0,475,NaN,NaN,NaN,475,4,2009-4
1928,251,1990,25,999,30,2,1,3,Israel,Israel,...,0,NaT,NaN,666,NaN,NaN,NaN,666,2,2009-4
1929,251,1991,25,999,40,2,1,3,Israel,Israel,...,0,NaT,NaN,666,NaN,NaN,NaN,666,2,2009-4
1930,251,1992,25,999,25,2,1,3,Israel,Israel,...,0,NaT,NaN,666,NaN,NaN,NaN,666,2,2009-4
1931,251,1993,25,148,70,2,1,3,Israel,Israel,...,0,NaT,NaN,666,NaN,NaN,NaN,666,2,2009-4
1932,251,1994,25,999,60,2,1,3,Israel,Israel,...,0,NaT,NaN,666,NaN,NaN,NaN,666,2,2009-4
1933,251,1995,25,999,25,2,1,3,Israel,Israel,...,0,NaT,NaN,666,NaN,NaN,NaN,666,2,2009-4
1934,251,1996,25,999,30,2,1,3,Israel,Israel,...,0,NaT,NaN,666,NaN,NaN,NaN,666,2,2009-4
1935,251,1997,25,100,100,2,1,3,Israel,Israel,...,0,NaT,NaN,666,NaN,NaN,NaN,666,2,2009-4
1936,251,1998,20,999,50,2,1,3,Israel,Israel,...,0,NaT,NaN,666,NaN,NaN,NaN,666,2,2009-4
1937,251,1999,25,999,25,2,1,3,Israel,Israel,...,1,1999-12-31,-99.0,666,NaN,NaN,NaN,666,2,2009-4
1938,251,2006,948,1281,1281,2,1,3,Israel,Israel,...,1,2006-08-14,-99.0,666,NaN,NaN,NaN,666,2,2009-4
1939,252,1978,25,999,-999,0,0,3,"Tanzania, Uganda",Tanzania,...,1,1978-12-31,-99.0,510,NaN,500.0,NaN,510500,4,2009-4
1940,253,1975,25,999,-999,0,0,3,Mauritania,Mauritania,...,0,NaT,NaN,435,NaN,NaN,NaN,435,4,2009-4
1941,253,1976,25,999,-999,0,0,3,Mauritania,Mauritania,...,0,NaT,NaN,435,NaN,NaN,NaN,435,4,2009-4
1942,253,1977,25,999,-999,0,0,3,Mauritania,Mauritania,...,0,NaT,NaN,435,220,NaN,NaN,435,4,2009-4
1943,253,1978,25,999,-999,0,0,3,Mauritania,Mauritania,...,1,1978-12-31,-99.0,435,NaN,NaN,NaN,435,4,2009-4
1944,254,2007,87,134,116,2,1,3,Democratic Republic of Congo (Zaire),Democratic Republic of Congo (Zaire),...,0,NaT,NaN,490,NaN,NaN,NaN,490,4,2009-4
1945,254,2008,125,143,125,2,1,3,Democratic Republic of Congo (Zaire),Democratic Republic of Congo (Zaire),...,0,NaT,NaN,490,NaN,NaN,NaN,490,4,2009-4
1946,255,1991,25,200,40,2,1,3,Niger,Niger,...,0,NaT,NaN,436,NaN,NaN,NaN,436,4,2009-4
1947,255,1992,25,200,-999,0,1,3,Niger,Niger,...,1,1992-12-31,-99.0,436,NaN,NaN,NaN,436,4,2009-4
1948,255,1997,25,999,-999,0,0,3,Niger,Niger,...,1,1997-11-29,-99.0,436,NaN,NaN,NaN,436,4,2009-4
1949,255,2007,81,155,81,2,1,3,Niger,Niger,...,0,NaT,NaN,436,NaN,NaN,NaN,436,4,2009-4
1950,255,2008,25,999,47,2,1,3,Niger,Niger,...,0,NaT,NaN,436,NaN,NaN,NaN,436,4,2009-4
1951,256,1979,24,194,-999,2,1,3,"Afghanistan, Russia (Soviet Union)",Afghanistan,...,1,1979-12-28,-99.0,700,NaN,365.0,NaN,700365,3,2009-4
1952,257,2007,30,100,56,2,1,3,Russia (Soviet Union),Russia (Soviet Union),...,0,NaT,NaN,365,NaN,NaN,NaN,365,1,2009-4
1953,257,2008,237,503,339,2,1,3,Russia (Soviet Union),Russia (Soviet Union),...,0,NaT,NaN,365,NaN,NaN,NaN,365,1,2009-4
1954,258,2008,35,61,61,2,1,3,India,India,...,0,NaT,NaN,750,NaN,NaN,NaN,750,3,2009-4
1955,259,2008,24,35,33,2,1,3,India,India,...,0,NaT,NaN,750,NaN,NaN,NaN,750,3,2009-4
1956,260,2008,25,999,-999,0,0,3,"Djibouti, Eritrea",Djibouti,...,0,NaT,NaN,522,NaN,531.0,NaN,522531,4,2009-4

In [ ]:
"""
Here, you'll parse your spreadsheets and use additional arguments to skip rows, rename columns and select only particular columns.

The spreadsheet 'battledeath.xlsx' is already loaded as xl.

As before, you'll use the method parse(). This time, however, you'll add the additional arguments skiprows, names and parse_cols. These skip rows, name the columns and designate which columns to parse, respectively. All these arguments can be assigned to lists containing the specific row numbers, strings and column numbers, as appropriate.
"""

# Parse the first sheet and rename the columns: df1
df1 = xl.parse(0, skiprows=[0], names=['Country', 'AAM due to War (2002)'])

# Print the head of the DataFrame df1
print(df1.head())

# Parse the first column of the second sheet and rename the column: df2
df2 = xl.parse(1, parse_cols=[0], skiprows=[0], names=['Country'])

# Print the head of the DataFrame df2
print(df2.head())